* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
    font-size: 40px;
}

div {
    height: 10vh;
    text-align: center;
}